.imageslider2
  background-image: url(../img/bg2.jpg)

.imageslider3
  background-image: url(../img/bg3.jpg)

.imageslider4
  background-image: url(../img/bg4.jpg)

.center
  .clasdiv
    padding 10px