color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969
color9 = #D3D3D3
color10 = #F3F3F3
color11 = #ffca7f
color12 = #7adfc2
color13 = #A3A3A3
color14 = #88f1d5
color15 = #b4ffdb
color16 = #d3ffda
color17 = #18D26E
greyboot = #212529 //rgb(33,37,41)
rgba2 = rgba(0,178,146,1)
rgba17 = rgba(24,210,110,1)
rgba1 = rgb(72,97,255)
main = #161616

::-webkit-scrollbar-button{
	background: orange
}
/*
*,*::before,*::after
	margin 0
	padding 0
	box-sizing border-box
*/
.box_canvas
	/*
	width 100%
	display flex
	justify-content center
	position relative
	*/
	height 30px
	width 100%
	/*width 35%*/
	display flex
	/*el position relative permite mostrarlo en el nav pero pierde la transparencia */
	position relative
	top 10px
	/*bottom 62px*/
	
	#canvas1
		/*
		position absolute
		top 15%
		left 50%
		transform translate(-50%,-50%)
		*/
		display flex
		width 300px
		margin auto
		
		/*
		position relative
		z-index 1
		*/
.btn_pry
	font-family QuicksandB
	background-color color1
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color1
		color #FFF
.btn_sry
	background-color color2
	color color10
	font-family QuicksandB
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color2
		color #FFF
.btn_grey
	background-color color6
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color6
		color #FFF
.btn_red
	font-family QuicksandB
	background-color color3
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color3
		color #FFF
.float-right
	float right

.mauto
	margin auto
.mtop16
	margin-top 16px
.p5
	padding 5px !important
.p8
	padding 8px !important

/*navegador y barra de navegación*/



						
				
				
			




/*user*/

/*home*/

.wrap
	/*
	display flex
	flex-wrap wrap
	*/
	position relative
	width 100%
	
	.section_home
		background transparent
		position relative		
		
		.home
			background-color rgba(0,0,0,.9)
			display flex
			justify-content center
			margin auto
			min-height 100vh
			perspective 2000px
			perspective-origin top
			position relative
			padding-bottom 40px
			
			/*
			.box_profile::before
				content ''			
				background-image url('../ima/DNI_2022_recortado_bynx800.png')
				background-repeat no-repeat
				background-position top right
				background-size 35%
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				opacity 0.2
				position absolute
				width 60%
			*/
			.box_profile
				
				width 60%
				.profile
					align-items center
					color #FFF
					display flex
					font-family YoutubeB
					
					min-height 200px
					transform translateY(-400px)
					opacity 0
					width 100%
					.title
						margin auto
						position relative
						bottom -10px
						.offset1							
							width 280pt							
							min-width 70pt
							min-height 40pt
						
							.path
								fill #18D26E
								stroke-width 0px
								stroke #18D26E
								/* en ocasiones es suficiente con 110 px y en otras más según el recorrido del trazo*/
								
								
								transition stroke-dashoffset 1s linear 0s,fill 1.5s linear 1s,stroke-width 0.2s linear 1s
					
									
							.path.svg_active
								stroke-dashoffset 0px
								fill transparent
								stroke-width 2px
					.text_name
						display flex
						justify-content center
						font-size 90px
						width 100%
						h5	
							font-size 90px					
						span
							color #18D26E
					.image
						/*
						background-image url('../ima/logo_BX_verdex200.png')
						background-repeat no-repeat
						background-size 100%
						background-position center
						
						display flex
						margin auto
						min-height 200px
						justify-content center
						width 200px
						/*
						img
							width 40%
							min-width 250px
							opacity 0.2
						*/
				.skills2
					margin 20px auto 0px auto
					position relative
					width 80%
					.box_skills1,.box_skills2
						display flex
						justify-content space-between
						margin 20px auto
						width 100%
					.box_skills2 .back_skill#back_skill1
						transform scale(0)
						
					.back_skill1,.back_skill2
						background-color greyboot
						border-radius 4px
						color #FFF
						display flex
						flex-flow column
						font-family YoutubeB
						font-size 18px
						margin auto
						min-height 200px
						min-width 175px
						width 30%
						transform scale(0)
						.skill
							margin auto
							.path
								fill transparent
								stroke-width 1px
								stroke #18D26E
								/* en ocasiones es suficiente con 110 px y en otras más según el recorrido del trazo*/
								
								
								transition stroke-dashoffset 1s linear 0s,fill 0.2s linear 1s,stroke-width 0.2s linear 1s
					
									
							.path.svg_active
								stroke-dashoffset 0px
								fill #18D26E
								stroke-width 0px
								
							img
								display flex
								margin 20px auto
							p	
								font-size 18px
								margin-top 10px
					.back_skill1.offset1 .path
						stroke-dasharray 150px
						stroke-dashoffset -150px
					.back_skill1.offset2 .path
						stroke-dasharray 220px
						stroke-dashoffset -220px
					.back_skill1.offset3 .path
						stroke-dasharray 260px
						stroke-dashoffset -260px
					.back_skill2.offset1 .path
						stroke-dasharray 100px
						stroke-dashoffset -100px
					.back_skill2.offset2 .path
						stroke-dasharray 200px
						stroke-dashoffset -200px
					.back_skill2.offset3 .path
						stroke-dasharray 250px
						stroke-dashoffset -250px
			/*
			.logo
				background-color rgba(0,0,0,.8)
				position absolute
				width 100%
				height 100%
			*/
			.div_angle
				bottom 0
				position absolute
				width 100%
				display flex
				.angle_bottom
					background greyboot
					height 40px
					width 50%					
				.left				
					display block
					position relative
					shape-outside polygon(0 100%,0% 100,100% 100%)
					clip-path polygon(0 100%,0% 0, 100% 100%)
				.right
					shape-outside polygon(100% 0,0% 100%,100% 100%)
					clip-path polygon(100% 0,0% 100%, 100% 100%)	
		
			
	.section_skills
		background-color greyboot
		margin auto
		padding 20px 0 20px 0
		position relative
		width 100%
		.skills0
			color color10
			margin auto
			width 70%
			h2
				font-size 45px
				font-family YoutubeB
				text-align center
				margin 10px auto 20px auto
			.box_progress_skills
				display flex
				padding 10px 0
				.left,.right
					color white
					margin auto					
					width 48%
					
					.title
						display flex
						font-family YoutubeB
						font-size 15px
						justify-content space-between
						margin 10px auto
					.div_progress
						background-color #333333
						height 5px
						position relative
						.progress0
							position absolute
							top 0
							left 0
							background-color color17
							height 5px
							width 95%
							z-index 100
					
			.all_skills
				display block
				margin 10px auto
				width 100%
				overflow hidden
				.carousel_skills
					display flex
					flex-shrink 1
					gap 50px
					/*flex-flow row nowrap*/
					/*overflow auto*/
					position relative
					scroll-behavior smooth
					
					
					.icon_skill
						align-items center
						justify-content center
						position relative
						flex-shrink 0
						height 100px
						min-width 0
					
						display flex
						/*flex-flow row wrap*/
						/*
						margin auto 20px
						max-width 150px
						width calc(95% / 5)
						*/
						img
							width 64px
									
					/*
					.carousel_skills::-webkit-scrollbar{
						display none
					}
					*/
		
				
	.home::before
		content ""
		background-image url('../ima/computer1.jpg')
		background-size 100% 
		background-repeat no-repeat
		background-position center center
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		opacity 0.1
			
	.section_blog
		background-color rgba(0,0,0,.9)
		margin auto
		overflow hidden
		padding 0 0 50px 0
		position relative
		width 100%
		h2
			font-size 45px
			font-family YoutubeB
			color white
			text-align center
		.blog
			margin auto
			padding-top 20px
			width 70%
			
			#principal-carousel
				img
					max-height 550px
					padding 20px
				/* añadir a mediaqueries */
				/*	
				.carousel-control-prev
					margin-left 10px
				.carousel-control-next
					margin-right 10px
				*/
				
				span.carousel-control-prev-icon,span.carousel-control-next-icon
					background-color rgba(0,0,0,.5)
					width 40px
					height 40px
					
					border color6 1px solid
					border-radius 50%
					//para generar padding al span es necesario manejar background-origin o background-clip*/
					background-origin content-box
					/*background-clip content-box*/
					background-size 100% 50%
					padding 6px
					&:hover
						border color13 1px solid
			#latcol
				display flex
				flex-flow column
				/* 545 + 40 padding-bottom*/
				/*max-height 585px*/
				/*overflow auto*/
				scrollbar-width none
				/*border #D3D3D3 1px solid*/
				height 80%
				.div_lat
					
					border-bottom color17 1px solid
					display block
					padding 10px 0
					width 100%
					a.column_index
						color color9
						display flex
						font-family QuicksandB
						font-size 18px
						height 100%
						text-decoration none
						width 100%
						&:hover
							color #FFF
						img
							max-width 35%
							padding 10px
							transition all .5s linear
							&:hover
								transform scale(1.1)
							
						h4
							display flex
							
							/*border-bottom color10 1px solid*/
							font-size 16px
							margin auto
							padding 5px
							transition all .5s linear
							&:hover
								color color17
				
					p
						font-family QuicksandR
						margin auto
		.div_angle
			display flex
			.angle_bottom
				background greyboot
				height 40px
				width 50%
			.left				
				display block
				position relative
				shape-outside polygon(0 0,100% 0,0 100%)
				clip-path polygon(0 0,100% 0, 0 100%)
			.right
				shape-outside polygon(0 0,100% 0,100% 100%)
				clip-path polygon(0 0,100% 0, 100% 100%)
	.section_skills
		overflow hidden
		.skills
			background-image url('../ima/fondo_azul2_500.jpg')
			background-position center
			/*
			background: rgb(14,0,110);
			background: radial-gradient(circle, rgba(14,0,110,0.8071603641456583) 23%, rgba(0,89,236,1) 100%);
				*/
			position relative
			width 100%
			height 520px
			.list
				display flex
				justify-content space-around
				font-family YoutubeB
				font-size 24px
				ul
					margin 10px
					padding 0
					width 33%
					li
						color #FFF
						display flex
						justify-content center
						align-items center
						
						padding 0
						margin 10px auto
						.div_skill
							align-items center						
							display flex
							width 200px
							height 70px
							transition all 0.3s ease-in
							.logo
								
								width 64px
								img
									padding 0px
									
									width 64px
							
							.text
								margin auto
								
							&:hover 
								transform scale(1.2)
						
			/*
			height 500px
			width 100%
			*/
			/*
			.image
				background-image url('../image/post/linux.png')
				background-position center center
				background-repeat no-repeat
				background-size 25%
				top 0
				margin auto
				display flex
				opacity 1
				position relative
				width 100%
				height 100%
			*/
.footer
	background-color greyboot
	display flex
	flex-flow column
	height 200px
	width 100%
	.div_animation
		display flex
		margin auto
		transform scale(0)
		.animation
			margin auto
			overflow hidden
			position relative
			.image
				margin auto
				position relative
				top 10px
				z-index 1
			.icon
				background-image url('../ima/logos_programacion/linux_new.png')
				background-repeat no-repeat
				background-size 100%
				display flex					
				height 50px
				justify-content end
				left 60%
				position absolute
				top 35px
				width 50px
	
	.footer_links
		display flex
		justify-content space-around
		margin 20px 0
		a
			text-decoration none
		
	.div_textfooter
		display flex
		flex-flow column
		padding 0 20px
		width 100%
		.textfooter
			align-items end
			display flex
			height 100%
			justify-content center
			margin 0
			opacity 0
			transform translateX(-100%)
			width 100%
			p
				color #FFF
				margin-bottom 3px
				a
					color color17
					text-decoration none

/* billboard */
/*
.board
	display flex
	justify-content center
	width 100%
	height 600px
.board2
	
	padding 40px 0 0 0
	width 100%
	transform translateY(100%)
	opacity 0
	.ad
		position relative
		margin auto
		width 916px
		height 100%	
		.ad_1,.ad_2
			position absolute
			margin-left 60px
			top 35px
		.ad_1
			img
				position absolute
				width 35px
				height 336px
				margin auto
				display flex
				justify-content center
		.ad_2	
			img{width:0px;height:336px;margin-left:18px;position:absolute;}
*/				
.billboard{
	background transparent url(../billboard/billboard.png) no-repeat 0px 0px
	background-position center
	position relative
	height 599px
	width 916px
	
	margin auto
	display flex
	justify-content center
    /*
	position:absolute;
    top -30px
    bottom:0px
    left:50%;
    margin-left:-452px;
    //position:relative;top:120px;left:25px;
    width:1016px;
    height:599px;
    background:transparent url(../billboard/billboard.png) no-repeat 0px 0px;
	*/
}

/*
.container{float:left;
    position:absolute;bottom:0px;left:50%;margin-left:-467px;width:916px;height:599px;}
*/

/*
.ad{width:800px;height:336px;position:relative;margin:38px 0px 0px 74px;background-color:#333;}
*/
/*
.ad_1,.ad_2
	position absolute
	margin-left 60px
	top 35px	
.ad_1
	img{width:35px;height:336px;position:absolute;}
.ad_2	
	img{width:0px;height:336px;margin-left:18px;position:absolute;}
*/
.slice_1{left:0px;}
.slice_2{left:36px;}
.slice_3{left:72px;}
.slice_4{left:108px;}
.slice_5{left:144px;}
.slice_6{left:180px;}
.slice_7{left:216px;}
.slice_8{left:252px;}
.slice_9{left:288px;}
.slice_10{left:324px;}
.slice_11{left:360px;}
.slice_12{left:396px;}
.slice_13{left:432px;}
.slice_14{left:468px;}
.slice_15{left:504px;}
.slice_16{left:540px;}
.slice_17{left:576px;}
.slice_18{left:612px;}
.slice_19{left:648px;}
.slice_20{left:684px;}
.slice_21{left:720px;}
.slice_22{left:756px;}


#latcol::-webkit-scrollbar{
	display none
}
.wrap_contact
	/*background-color #161616*/
	display flex
	flex-wrap wrap
	min-height 95vh
	position relative
	width 100%
	.box_contact
		position relative
		width 100%
		.contact
			color color10
			margin auto
			padding-top 20px
			position relative
			transform translateY(-300px)
			opacity 0
			width 80%
			
			h2				
				font-family YoutubeB
				font-size 40px
			.form
				background-color rgba(33,37,41,.7)
				/*background-color rgba(255,255,255,.04)*/
				border-radius 8px
				
				padding 20px 10px 20px 10px
				.div_input
					padding 18px 0
					input,textarea
						background-color greyboot
						border none
						color color10
						&:focus
							background-color #333333
							outline none
							box-shadow none
				.submit
					display flex
					justify-content center
					button
						background-color greyboot
						padding 10px 50px
						&:hover
							color color17
							background-color #333333
						&:active,&:focus
							box-shadow 0px 0px 5px #D3D3D3
						
	.contact2
		
		margin 20px auto
		width 80%
		.box_circle
			display flex
			justify-content space-around
			width 100%
			
				
			.circle
				background-color color17
				border-radius 50%
				display flex
				height 80px
				margin auto
				width 80px
				transform translateX(-1000px)
				opacity 0
				
				img
					vertical-align middle
					display flex
					margin auto
					width 40px
		.text_email
			display flex
			justify-content center
			margin auto
			width 100%	
			p
				color white
				font-family YoutubeB
				font-size 20px
				margin 20px
				transform translateY(-200px)
				opacity 0
				span
					color color17
		.div_name
			.name
				align-items center
				color #FFF
				display flex
				justify-content center
				font-family YoutubeB
				font-size 45px
				transform translateX(-1000px)
				opacity 0
			.job_profile
				align-items center
				color #FFF
				display flex
				justify-content center
				font-family YoutubeB
				font-size 25px
				transform translateX(1000px)
				opacity 0
				
/* proyectos */

.wrap_projects
	
	min-height 95vh
	position relative
	width 100%
	.box_projects
		color #FFF
		margin auto
		position relative
		width 70%
		.div_projects
			display flex
			flex-wrap wrap
			font-family Georgia
			justify-content space-around
			margin 50px auto
			opacity 0
			width 100%
			a
				color #D3D3D3
				text-decoration none
			/*.projects.active
				transform:rotateY(180deg)*/
			.projects
				align-items center
				/*background-color transparent*/
				/*border white 1px solid
				border-radius 10px*/
				display flex
				height 210px
				justify-content center
				margin 10px auto
				position relative
				transition:all 1s linear
				width 210px
				/*overflow hidden*/
			
				
				
				.modal_projects
					display flex
					height 100%
					position absolute
					width 100%
					
						
					.modal_pro
						background-color rgba(0,0,0,.4)
						transform translate(0,0)
						transition all .5s linear
						width 50%
						
							
					
			
/*
.box_contact::before
	content ""
	
	background-image url('../ima/fondo_estrellas_1920X2160_borrada2.jpg')
	background-size 100% 
	background-repeat no-repeat
	background-position top center
	
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	opacity 1
*/
/* tipos de estilos para autocompletado en input */
/* opción 1, con background-clip */
/*
input.no-autofill:-webkit-autofill{
	-webkit-background-clip: text
	-webkit-text-fill-color: white !important
}
*/
/* opción 2, con transition */
/*
input.no-autofill:-webkit-autofill,
input.no-autofill:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input.no-autofill[data-autocompleted] {
    background-color: transparent !important;
}
*/
/* opción 3, con box-shadow (interfiere en el box-shadow del input) */

/*
input.no-autofill:-webkit-autofill{
	-webkit-box-shadow:none inset !important
	-webkit-text-fill-color: yellow !important
}
*/
main
	//background-color rgba(0,0,0,.7)
	background-color main
	display flex
	flex-wrap wrap	
	width 100%
	.wrap_blog.box_blog
		
		padding 20px 0
		.div_search			
			display flex
			padding 0 20px
			transform translateY(-200px) scale(0)
			width 100%
			.input_search
				position relative
				height 35px
				width 100%
				
				input
					background-color transparent !important
					border color9 1px solid
					border-radius 5px
					color #FFF
					font-family YoutubeB
					height 35px
					padding 0 10px
					width 100%
				
					&:focus
						border transparent 1px solid
						outline none
						box-shadow 0px 0px 5px color17,0px 0px 5px color17
				/* sobreescribiendo autocomplete */
				input.no-autofill:-webkit-autofill,
				input.no-autofill:-webkit-autofill:hover,
				input.no-autofill:-webkit-autofill:active,
				input.no-autofill:-webkit-autofill:focus{
				    transition background-color 600000s 0s, color 600000s 0s
				}
				
				input::placeholder
					color color8
			.icon_search
				background-color transparent
				border transparent 1px solid
				border-radius 4px
				display flex
				height 100%
				padding 3px
				position absolute
				right 0
				top 0
				&:hover
					button
						background-image url('../icon/magnifying-glass_green.svg')	
				&:active
					border color9 1px solid
					box-shadow 0px 0px 2px color9,-0px -0px 2px color9
				button
					background-color transparent					
					background-image url('../icon/magnifying-glass_white.svg')
					background-repeat no-repeat
					background-size 100%
					border none
					min-width 24px
		.div_blog
			display flex
			margin 20px auto
			overflow hidden
			width 100%
			.blog
				padding-bottom 20px
				width 70%
				/*pares*/
				.div_title
					display flex
					.no_results
						color color17
						font-family YoutubeB
						font-size 20px
						text-align center
						width 100%
					span.title_blog
						color color9
						font-family YoutubeB
						font-size 28px
						opacity 0
						transform translateY(-70px) rotateX(180deg)
						span
							color color17
							font-size 24px
							text-transform capitalize
						
				.card-group
					overflow hidden
					.border_card.even
						transform translateX(-400px)
					/*impares*/
					.border_card.odd
						transform translateX(400px)
						
					.border_card
						background-color greyboot
						opacity 0
						overflow hidden
						a	
							text-decoration none
							.div_img
								overflow hidden
								img
									max-height 500px
									margin 0 auto
									overflow hidden
									transition transform .5s linear
									width 100%
						&:hover
							
							img
								transform scale(1.05)
							/*
							.post_card_block .post_text
								color #FFF
							*/
							.post_card_block .post_text:after
								width 100%
						.post_title				
							display flex
							font-family QuicksandB
							font-size 22px				
							background-color:transparent
							padding 0
							margin 0
							a
								background-color color10
								color #494949
								
								display flex
								height 100%
								justify-content center
								padding 10px
								text-decoration none
								width 100%
								&:hover						
									color color1
						.post_card_block
							border-top color17 1px solid
							cursor pointer
							display block
							margin auto
							padding 10px
							width 100%
							.post_text
								
								color color9
								
								font-family YoutubeB
								font-size 20px
								font-weight bold
								
								margin auto
								overflow hidden
								position relative
								
								text-overflow ellipsis
								transition color .3s linear
								white-space nowrap
								width 100%
							.post_text::before
								content attr(data-hover)
							.post_text::after
								content attr(data-hover)
								color color17
								
								
								left 0
								overflow hidden
								position absolute
								text-overflow ellipsis
								transition all .6s linear
								width 0
								white-space nowrap
			.aside
				transform translateX(100%)
				opacity 0
				width 30%
				h2
					color color9
					display flex
					font-family YoutubeB
					font-size 25px
					justify-content center
					margin 10px auto 20px auto
				
				ul.posts
					li
						list-style none
						margin 10px auto
						a
							display flex
							flex-flow column
							text-decoration none
							width 100%
							&:hover .image_post
								img
									/*transform scale(1.05)*/
									animation bounce_image 1s 1
								span
									color color17
							.image_post
								display flex
								flex-flow column
								margin auto
								max-width 200px
								overflow hidden
								width 90%
								img
									margin auto
									max-width 200px									
									width 90%
								span
									color color9
									font-family YoutubeB
									font-size 16px									
									margin 5px auto
									max-width 80%
									overflow hidden
									text-overflow ellipsis
									white-space nowrap
									
				ul.tags
					color white
					width 80%
					margin auto
					li
						display flex
						list-style none
						margin  5px
						padding 4px
						a.tag_button
							background-color transparent
							border color17 1px solid
							border-radius 4px
							color #FFF
							font-size 15px							
							overflow hidden
							padding 3px 15px
							position relative
							text-decoration none
							transition width .5s linear
							&:hover
								
								&:before
									width 200%
							span
								font-weight bold
								position relative
								
						
						a.tag_button::before					
							background-color color17
							bottom 0
							content ''
							height 100%
							left -30px
							position absolute
							top 0
							right 0
							transform skewX(-35deg)
							transition all .5s linear
							width 0
						&:before
							color color17
							content '\027A4'
							display flex
							margin 0 8px
							padding 4px 			
		.box_pagination
			opacity 0
			transform translateY(100%)
			width 70%
			ul.pagination
				display flex
				font-family QuicksandB
				font-size 20px
				
				li.page-item
					a
						background-color transparent
						border color6 1px solid
						color color7
						&:hover
							
							color color17
						&:focus
							color color17						
							box-shadow none
					span
						background-color transparent
						border color6 1px solid
						color color9
				li.disabled
					span.page-link
						background-color transparent
						color color6		
				li.page-item.active
					span.page-link
						
						color color17
						/*
						background-color color6
						color color9
						*/
					
			
		/*post*/
	.minim.post
		width 80%
		margin auto
		padding 10px 0
		.div_buttons
			opacity 0
			z-index 1
			.div_btn_anim
				display flex
				justify-content space-between				
				.back_btn_anim.btn1
					span
						font-size 15px
						font-weight bold
					&:hover 
						.wrap_button::before
							transform scaleX(6)
						.wrap_button::after
							transform scaleX(6)
				.back_btn_anim.btn2
					&:hover 
						.wrap_button::before
							transform scaleX(10)
						.wrap_button::after
							transform scaleX(10)
				.back_btn_anim
					background-color transparent
					border 1px solid color17
					border-radius 4px
					display block
					margin auto 5px					
					overflow hidden
					padding 0
					position relative					
					height 30px					
					width auto
					z-index 1
					.wrap_button
						background-color color17
						display block
						height 100%
						position absolute
						z-index 1
						/*.wrap_button.btn1					
						left -35%*/
						transform skewX(-35deg)
						
					.wrap_button::before
						content ''
						background-color color17
						display block
						height 100%
						opacity .7
						position absolute
						transform skewX(-35deg)
						transition all .4s linear
						width 35px
					.wrap_button.btn1::before
						left -50px
					.wrap_button.btn2::before
						left -50px
					.wrap_button::after
						content ''
						background-color color17
						display block
						height 100%					
						opacity 1
						position absolute
						transform skewX(-35deg)
						transition all .4s linear
						width 35px
					.wrap_button.btn1::after
						left 70px
					.wrap_button.btn2::after
						left 140px
					a
						background-color transparent
						border-radius 4px
						color color8
						display flex
						font-family QuicksandB
						font-size 12px
						height 100%
						padding 4px 20px
						position relative
						text-decoration none
						width 100%
						z-index 2
						
						&:hover
							color color1
							width 100%
					
						span
							align-items center						
							color #FFF
							display block
							
							font-weight bold
							max-width 120px							
							vertical-align middle
					
				/*
				button
					background-color transparent
					border none
					padding 4px 12px
				*/
		
			
			/* buttons tags */
			.tags_buttons
				display flex
				margin 20px auto
				position relative
				a
					border color6 1px solid
					border-radius 4px
					background-color transparent
					color white
					margin auto 5px
					padding 4px 20px
					position relative
					text-decoration none
					
					&:hover
						.tag_button::before
							width 200%
					.tag_button
						border-radius 4px
						height 100%
						left 0
						overflow hidden
						padding 4px 20px
						position absolute
						top 0
						width 100%
						
					.tag_button::before					
						background-color color17
						bottom 0
						content ''
						height 100%
						left -30px
						position absolute
						top 0
						right 0
						transform skewX(-35deg)
						transition all .5s linear
						width 0
					span
						font-weight bold
						position relative
						z-index 2
							
							
							
		.back_tags
			margin 10px
			width 100%
		.box_card
			background-color transparent
			border none
			/*transform translateX(-100%)*/
			transform scale(0)
			opacity 0
			.card_block
				background-color #FFF
				border-radius 8px
			.post_detail_header
				color color10
				display flex
				font-family YoutubeB
				font-size 35px
				justify-content center
				margin 2px 0px 10px 0px
				padding 10px 10px 20px 10px
				
			img
				max-height 550px
			.post_detail_bodymain
				margin auto 10px
				border-bottom color9 1px solid
				display flex
				justify-content center
				align-items center
				vertical-align middle
				
				h2
					font-family YoutubeB
					font-size 25px
					font-weight bold
					text-align center
					margin 0
					padding 10px 5px
				
			.post_detail_bodyplus
				color black
				font-family Montserrat
				padding 1rem 3rem
				pre
					background-color #000
					font-size 14px
				

/* admin */
.admin_posts
	.header
		color color9		
		display flex
		font-family YoutubeB
		font-weight bold
		justify-content space-between
	tr td, tr th
		background-color transparent
		color color9
		a, button
			font-size 14px
		
	.table-striped>tbody>tr:nth-of-type(odd)>*
		background-color color6
		color color9
	.table-striped>tbody>tr:nth-of-type(odd)>td:nth-child(1),.table-striped>tbody>tr:nth-of-type(odd)>td:nth-child(2)
		&:hover
			background-color color17
			color #FFF
	.table-striped>tbody>tr:nth-of-type(even)>*
		background-color color8
		color color9
	.table-striped>tbody>tr:nth-of-type(even)>td:nth-child(1),.table-striped>tbody>tr:nth-of-type(even)>td:nth-child(2)
		&:hover
			background-color color17
			color #FFF
/* admin edit */
main
	.row_post
		background-color greyboot
		color color9
		padding 10px
	//vista login
	.box_login
		min-height 100vh
			
/* botón de subir */
.btn_floatup
	bottom 30px
	cursor pointer
	opacity 0
	position fixed
	right 30px
	transition all .5s linear
	z-index 1
	/*i
		font-size 3em*/
	.circle
		background-color transparent
		border color8 1px solid
		border-radius 50%
		display flex
		height 40px
		transition background-color .3s linear, color .4s linear
		width 40px
		.arrow
			align-items center
			
			color color8
			display flex
			font-size 2em
			height 100%
			justify-content center
			width 100%
		&:hover
			background-color color17
			border color17 1px solid
			border-radius 50%
			.arrow
				color #FFF
	
	/* flecha de icono (subir arriba) con pseudoelemento before en lugar de span*/
	/*span::before
		align-items center
		color color8
	*/
		/* código hexadecimal &#x021E7; se convierte en \021E7 para pseudoelements*/
		/*
		content '\02191'
		display flex
		font-size 2em
		height 40px
		justify-content center
		margin auto
		width 40px
		*/

.pagination
	display flex
/* añadido para aumentar el height de CKEDITOR*/
#cke_body_plus
	.cke_contents.cke_reset
		height 500px !important
/* font-face */
@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)
@font-face
	font-family YoutubeB	
	src url(../fonts/youtube-sans/youtube-sans-bold.ttf)
@font-face
	font-family Usuzi	
	src url(../fonts/usuzi.ttf)
@font-face
	font-family Poppins	
	src url(../fonts/Poppins-SemiBold.ttf)
@font-face
	font-family Ecliptic_BRK	
	src url(../fonts/Ecliptic_BRK.ttf)

@media only screen and (max-width 1200px)
	/* cambiamos a top para que la franja negra se quede debajo*/
	.wrap .home::before
		background-position top center	
	
@media only screen and (max-width 1000px)
	.wrap .section_home .home .box_profile .profile
		.text_name			
			h5
				font-size 30px
	.wrap .section_home .home .box_profile .profile
		.title .offset1
			width 100%
	/*
	.board2 .ad
		width 100%
	*/
	.ad_1,.ad_2
		display none 
	.billboard
		background-size 611px 400px
		width 611px
		height 400px

	/*
	.box_canvas #canvas1
		width 300px
	*/
	.wrap .section_home .home .box_profile
		width 80%
		
	.main .minim.post .box_card .post_detail_bodyplus
		p
			overflow auto
@media only screen and (max-width 768px)
	.bx_nav
		.navbar-nav
			flex-direction row
			li
				margin auto 5px
	.wrap .home .box_profile .skills2
		display block
		.back_skill
			margin 16px auto
			width 80%
	.wrap .home .box_skills1,.wrap .home .box_skills2
		flex-flow column wrap
	.main .box_blog .div_blog 
		.blog
			margin auto
			width 80%
			.card-group .border_card .post_card_block
				.post_text
					font-size 18px		
		.aside
			display none
		
		
		
@media only screen and (max-width 620px)
	
	/*
	.board2
		display none
	
	.box_canvas #canvas1
		width 200px
	*/
@media only screen and (max-width 576px)
	main .box_blog .box_pagination
		margin auto		
		width 80%
	.btn_floatup
		right 10px
	main .box_blog .box_pagination
		overflow auto
		width 95%
		nav
			display flex
			ul.pagination
				margin auto
@media only screen and (max-width 420px)
	.box_canvas
		display none
	.skills
		display none
	.wrap .section_home .home .box_profile .profile
		.text_name
			font-size 64px
			h5
				font-size 25px
	.btn_floatup
		bottom 70px	
		
	.wrap .section_blog .blog #latcol .div_lat a.column_index
		display block
		img
			max-width 60%
				
	
		
	
			

@keyframes girar2{
	0%{
		transform:  rotateX(0deg) rotateY(0deg);
		
	}
	15%{
		transform:  rotateX(360deg) rotateY(360deg);
	}
	30%{
		transform:  rotateX(0deg) rotateY(0deg);
	}
	45%{
		transform:  rotateX(360deg) ;
	}
	60%{
		transform:  rotateX(0deg) ;	
	}
	75%{
		transform:  rotateY(360deg);
	}
	100%{
		transform:  rotateY(0deg) ;
	}
}

@keyframes bounce_image{
	from,to { 
		transform: scale(1,1)
	}
	25%{
		transform scale(0.95,1.05)
	}
	50%{ 
		transform scale(1.05,0.95) 
	}
	75%{ 
		transform scale(0.98,1.02) 
	}
}